

.name{
    color: #ffffff;
    text-align: center;
    background-color: rgb(97, 158, 238);
    border-bottom: 4px solid rgb(238, 166, 166);
    border-right:4px solid rgb(238, 166, 166);
    border-left:4px solid rgb(238, 166, 166); 
    border-top: 4px solid rgb(238, 166, 166);
    -webkit-text-stroke: 0.5px #a8a8a8;
    position: fixed;

/*↓ズームイン*/
    animation: zoomIn 0.9s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);    
}




}


.menuH{
    padding-bottom: px;
    font-size: 150%;
    color: rgb(114, 114, 114);
    position: fixed;
    z-index: 3; /*文字の重なり順序変更*/
    border-left: 4px solid rgb(134, 134, 134);
    border-bottom: 4px solid rgb(134, 134, 134);
    border-top:4px solid rgb(134, 134, 134)
}
.menuA{
    font-size: 130%;
    color: rgb(114, 114, 114);
    padding-left: 80px;
    padding-bottom: 5px;
    position: fixed;
    z-index: 2; /*文字の重なり順序変更*/
    border-top:4px solid rgb(134, 134, 134);
    border-bottom: 4px solid rgb(134, 134, 134);
}
.menuB{
    font-size: 132%;
    color: rgb(114, 114, 114);
    padding-left: 280px;
    padding-bottom: 5px;
    z-index: 1; /*文字の重なり順序変更*/
    border-top:4px solid rgb(134, 134, 134);
    border-bottom: 4px solid rgb(134, 134, 134);
    position: fixed;
}
